<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Bio</h2>
                <hr class="dark">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <p class="text-faded">Burns Haven laveert blues, funk, americana, soul, rock en jazz. Hun eigen nummers vormen een mengelmoes van muziekstijlen, steeds met de blues als veilige haven.</p>
                <p class="text-faded">
                    Ze varen op de golven van namen als Chris Bergson, Tedeschi Trucks Band, Nathaniel Rateliff, maar creëren hun eigen muzikale dok. Hun songs volgen elkaar op in een snel tempo. Van het funky <b>Washington Bridge</b>  tot de ballad <b>Don’t want to get over you</b> naar het swingende <b>Your way</b> en <b>Mean old woman</b>. </p>
                <p class="text-faded">
                    Burns Haven is een dorp met 7 inwoners. Een kleine stip op de wereldkaart balancerend tussen het hoogste punt van de <i>midlife cliff</i> en de uitgestrekte <i>joie de vivre</i> zee. Sterke songs met een no-nonsense bries. Put on your <b>Dancing shoes</b> because they've <b>Come this far</b>. 
                </p>
            </div>
        </div>
    </div>
</section>
